body {
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-color: black;
}
div {
  border: 1px solid black;
  margin: 25px 50px 75px;
  background-color: lightblue;
}
h1 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}
